<!--MAIN CONTAINER-->

<div>
  <button (click)="login()">Login</button>
  -----------
  <button (click)="logout()">Logout</button>
  -----------
  <button (click)="getXYZ()">/GetXYZ(Guard)</button>
  -----------
  <pre>{{inchyService.finchyRootUrl |json}}</pre>
  <!-- <pre>decodedIDToken= {{inchyService.decodedIDToken |json}}</pre> -->
  <pre style="word-break: break-word">{{ accessToken | json }}</pre>
  <pre style="word-break: break-word">{{ idToken | json }}</pre>

  <router-outlet></router-outlet>
</div>

<div class="container">
  <hr />


  <div class="leaderboardContainer">
    <h1 class="mat-h1">FinchyService</h1>
    <pre style="background-color: rgb(212, 174, 170)">{{ inchyService.finchyRootUrl }}</pre>
  </div>


  <!--LEADERBOARD-->
  <div class="leaderboardContainer">
    <h1 class="mat-h1">Ranking</h1>
    <pre style="background-color: salmon">{{ questions | json }}</pre>
  </div>

  <!--FEED CONTAINER-->
  <div class="feedContainer">
    <h1 class="mat-h1" style="align-self: flex-start; margin-left: 20px">
      Feed
    </h1>

    <!--QUESTIONS-->
    <pre>{{ questions | json }}</pre>
  </div>
</div>
